[submodule "third_party/wxWidgets"]
	path = third_party/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "third_party/libtsm"]
	path = third_party/libtsm
	url = https://github.com/kmscon/libtsm.git
